.contact {
  @include flexColumn(flex-start, center);
  &__link {
    font-family: "Zilla Slab", serif;
    font-size: larger;
    @include textLink;
  }
  &__link + &__link {
    margin-top: 15px;
  }
}
