.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px;
  @include flexRow(space-between, flex-start);
  background-color: #fff;
  &__brand {
    font-family: "Zilla Slab", serif;
    font-weight: bold;
    &__item {
      @include textLink;
    }
  }
  &__hamburger {
    font-size: 1.5rem;
  }
  &__hamburger--hidden {
    display: none;
  }
  &__menu {
    &__item {
      @include textLink;
    }
  }
  &__menu--hidden {
    display: none;
  }
  &__menu--visible {
    display: block;
    @include flexColumn(flex-start, flex-end);
  }
}
