.page-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px;
  @include flexRow(space-between, flex-start);
  background-color: #fff; /*crimson*/
  &__brand {
    font-family: "Zilla Slab", serif;
    font-weight: bold;
    &__link {
      @include text-link;
    }
  }
  &__hamburger {
    font-size: 1.5rem;
  }
  &__hamburger-hidden {
    display: none;
  }
  &__menu {
    &__link {
      @include text-link;
    }
  }
  &__menu-closed {
    display: none;
  }
  &__menu-opened {
    display: block;
    @include flexColumn(flex-start, flex-end);
  }
}
