.project {
  @include flexColumn(center, center);
  &__number {
    color: rgba(220, 20, 60, 0.5); /*crimson*/
    font-size: 1.5rem;
    font-style: italic;
  }
  &__title {
    font-family: "Zilla Slab", serif;
    @include textLink;
    text-align: center;
  }
}
