.section {
  min-height: 100vh;
  padding: 114px 30px 30px 30px;
  &__inner {
    min-height: calc(100vh - 114px - 30px);
    @include flexColumn(space-evenly, center);
  }
}
.section-lightgrey {
  background-color: rgba(241, 241, 241, 0.5);
}
.section-lightcrimson {
  background-color: rgba(220, 20, 60, 0.05); /*crimson*/
}
