* {
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  position: relative;
  margin: 0;
  font-family: "Roboto", sans-serif;
  h1 {
    font-family: "Zilla Slab", serif;
  }
}
@import "mixins";
@import "navbar";
@import "hero";
@import "section";
@import "project";
@import "about";
@import "contact";
@import "footer";
/* MEDIA QUERIES */
@import "media-queries";
